@model WebApplication2.Models.Employee
@{
    ViewBag.Title = "EditCustomer";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage1.cshtml";
}
Ư

<h2>Edit</h2>

<form action="/Admin/Employee/EditEmployee/@Model.ID_employee" method="post" enctype="multipart/form-data">
    <input type="hidden" name="ID_employee" value="@Model.ID_employee" />
    <div class="row">
        <div class="col-md-6">
            <label for="Product Name"> Employee name</label>
            <input type="text"
                   class="form-control"
                   id="ProductName"
                   name="Name"
                   placeholder="Customer Name"
                   value="@Model.Name" />
        </div>
        <div class="col-md-6">
            <label for="Price">Address</label>
            <input type="text"
                   class="form-control"
                   id="Address"
                   name="Address"
                   placeholder="Price"
                   value="@Model.Address" />
        </div>
        <div class="col-md-6">
            <label for="DateofPurchase">Birthday</label>
            <input type="date"
                   class="form-control"
                   name="Birthday"
                   placeholder="DateofPurchase"
                   value="@Model.Birthday" />
        </div>

        <div class="col-md-6">
            <label for="DateofPurchase">Phone</label>
            <input type="text"
                   class="form-control"
                   id="DateofPurchase"
                   name="Phone"
                   placeholder="Phone"
                   value="@Model.Phone" />
        </div>
        <div class="col-md-6">
            <label for="DateofPurchase">Gmail</label>
            <input type="email"
                   class="form-control"
                   name="Gmail"
                   value="@Model.Gmail" />
        </div>
        <div class="col-md-6">
            <label for="DateofPurchase">Username :</label>
            <input type="text"
                   class="form-control"
                   id="DateofPurchase"
                   name="Username"
                   placeholder="DateofPurchase"
                   value="@Model.Username" />
        </div>






    </div>
    <button type="submit" class="btn btn-success">Save</button>
    <a href="/admin/Employee" class="btn btn-danger">Cancel</a>
</form>



